.sidebar{
    flex-basis: 240px;
    min-width: 240px;
    background-color: blue;
}
.sidebar > .head{
    height: 100px;
}

.sidebar > .body{}
.sidebar > .body{
    padding: 5px;
}
.sidebar > .body > span{
    display: block;
    padding: 10px;
    margin: 2px 0;
    background-color: darkblue;
    cursor: pointer;
    color: #FFF;
}
