<div class="campuses">
    <sidebar></sidebar>
    <div class="content">
        <status-bar></status-bar>
        <div class="controls">
            <div ng-click="addC()">
                <img src="img/add.png"/>
                <span>ADD CAMPUS</span>
            </div>
            <input class="search" type="text" placeholder="Search"/>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Institution</td>
                    <td>Campuses</td>
                    <td>Users</td>
                    <td>Adverts</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in insties">
                    <td>{{x.name}}</td>
                    <td>{{x.campuses.length}}</td>
                    <td>-1</td>
                    <td>-1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="campus-add-dialog" ng-class="{closed:!closed}">
    <h3>Add campus</h3>
    <form>
        <label>Intitution name</label>
        <input type="text" ng-model="insti"/>
        <label>Campus name</label>
        <input type="text" ng-model="campus"/>
        <div class="btn-row">
            <span ng-click="cancelC()">CANCEL</span>
            <span ng-click="createC()">ADD</span>
        </div>
        <div class="suggestions" ng-show="suggest">
            <span ng-repeat="x in insties | filter:insti" ng-click="fillS(x.name)">{{x.name}}</span>
        </div>
    </form>
</div>
