.campuses{
    margin: auto;
    display: flex;
}
.campuses > .content{
    flex-grow: 1;
}
.campuses > .content > .controls{
    display: flex;
    height: 45px;
    background-color: green;
    overflow: hidden;
    justify-content: flex-end;
}
.campuses > .content > .controls > input{
    margin: 5px;
    width: 300px;
}
.campuses > .content > .controls > div{
    margin: 5px;
    display: block;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.campuses > .content > .controls > div > span{
    display: block;
    padding: 8px 5px;
}
.campuses > .content > .controls > div > img{
    height: 35px;
    width: 35px;
    padding: 5px;
}
.campuses > .content table{
    background-color: red;
    width: 99%;
    margin: 0.5%;
}
.campuses > .content table tr{
    display: flex;
    height: 30px;
    line-height: 30px;
}
.campuses > .content table td:first-child{
    flex-grow: 1;
}
.campuses > .content table td{
    flex-basis: 200px;
}
.campus-add-dialog{
    position: absolute;
    width: 500px;
    background-color: #FFF;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    padding: 10px;
    transition: 0.2s;
}
.campus-add-dialog.closed{
    top: auto;
    bottom: 100%;
}
.campus-add-dialog > h3{
    margin: 0;
    padding: 10px 0;
}
.campus-add-dialog > form > label{
    margin: 5px 0;
    display: block;
}
.campus-add-dialog > form > input{}
.campus-add-dialog > form > input{
    display: block;
    width: 100%;
}
.campus-add-dialog > form > div.btn-row{
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}
.campus-add-dialog > form > div.btn-row > span{
    padding: 10px;
    border: 1px solid #CCC;
    margin-left: 5px;
    cursor: pointer;
}
.campus-add-dialog > form > div.btn-row > span:active{
    background-color: #EEE;
}
