.ads-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ads-view > div.main{
    display: block;
    flex-basis: 600px;
    min-height: 400px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #CCC;
    padding-bottom: 5px;
    margin: 40px auto 0 auto;
}
.ads-view > div.suggests{
    flex-basis: 400px;
    height: 400px;
}
.ads-view > div.suggests > h3{
    margin: 0;
    padding: 10px;
    font-family: Lato Thin;
    font-family: Lato Thin;
}
.ads-view .main .head{
    padding: 5px;
    display: flex;
    position: relative;
}
.ads-view .main .head > div{
    height: 180px;
    flex-basis: 180px;
    background-color: #ECEFF1;
}
.ads-view .main .head > div > img{
    height: 100%;
    width: 100%;
}
.ads-view .main .head > h2{
    padding-left: 5px;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 0;
    font-family: Lato Thin
}
.ads-view .main .head > span{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    padding: 5px;
    font-size: 1.2em;
}
.ads-view .btns{
    background-color: #ECEFF1;
    min-height: 25px;
    display: flex;
    justify-content: flex-end;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ads-view .btns a{
    text-decoration: none;
}
.ads-view .btns span > span{
    display: inline;
}
.ads-view .btns span{
    display: block;
    padding: 0 5px;
    margin: 5px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.ads-view .btns span.a{
    color: #FFF;
    border-radius: 5px;
}
.ads-view > div.main > .pics{
    display: flex;
    justify-content: center;
}
.ads-view > div.main > .pics > div{
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #ECEFF1;
}
.ads-view .pics > div > img{
    height: 100%;
    width: 100%;
}
img.badge{
    height: 25px;
    width: 25px;
    float: right;
    padding: 3px;
}
.ads-view h5{
    margin: 0;
    display: inline-block;
    float: right;
    padding: 5px;
    cursor: pointer;
}
.ads-view p{
    white-space: pre-wrap;
}
.ads-view .messenger img{
    display: block;
    height: 50px;
    width: auto;
    margin: 30px auto 0 auto;
}
.ads-view .messenger.expanded{
    height: 172px;
    opacity: 1;
}
.viewer{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
}
.viewer > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}
.viewer > .closer{
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    cursor: pointer;
}
.viewer > .closer > span{
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 7px;
    top: 18px;
    transform: rotate(45deg);
    background-color: #FFF;
}
.viewer > .closer > span:first-child{
    transform: rotate(-45deg);
}
.viewer > .pager{
    position: absolute;
    bottom: 15px;
    height: 60px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255,255, 0.1);
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    justify-content: space-between;
}
.viewer > .pager .key{
    background-color: rgba(0, 0, 0, 0.5);
    flex-basis: 59px;
}
.viewer > .pager .key:last-child{
    transform: rotate(180deg);
}
.viewer > .pager .key > span{
    display: block;
    position: absolute;
    top: 28px;
    height: 4px;
    width: 20px;
    background-color: #FFF;
    left: 10px;
    transform: rotate(45deg) translate(8px);
    border-radius: 2px;
}
.viewer > .pager .key > span:first-child{
    transform: rotate(-225deg) translate(-8px);
}
.viewer > .pager .key.off > span{
    background-color: #444;
}
.create-ad{
    position: absolute;
    height: 100%;
    width: 100%;
}
.create-ad:nth-child(1){
/*    background-color: #FF5722;*/
    height: 20%;
}
.create-ad .wrapper{
    margin: 10px auto;
    max-width: 450px;
    min-height: 500px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #ccc;
    padding: 5px;
}
.create-ad .wrapper h3{
    margin-bottom: 5px;
}
.create-ad .wrapper h2{
    text-align: center;
}
.create-ad .wrapper input{
    outline: none;
    border: 0px;
    display: block;
    font-size: 1em;
    border-bottom: 2px solid #CFD8DC;
    padding: 5px;
}
.create-ad .wrapper input:focus{
    border-bottom-color: #1E88E5;
}
.create-ad .wrapper input[type=text]{
    width: 100%;
}
.create-ad .wrapper input[type=number]{
    display: inline-block;
    width: 100px;
}
.create-ad .wrapper a-chooser{
    padding: 5px;
    width: 200px;
}
.create-ad .wrapper textarea{
    outline: none;
    border: 1px solid #CCC;
    resize: none;
    box-shadow: 0 0 1px 1px #CCC inset;
    width: 100%;
    height: 110px;
    font-family: Roboto;
    font-size: 1em;
}
.create-ad .wrapper textarea:focus{
    border-color: #1E88E5;
}
.create-ad .wrapper{
    position: relative;
}
.create-ad .wrapper > div > .btns{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.create-ad .wrapper > div > .btns span{
    display: block;
    margin: 0 0 0 5px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;
}
.create-ad .wrapper > div > .btns span:nth-child(1){
    color: #1E88E5;
}
.create-ad .wrapper > div > .btns span:nth-child(2){
    background-color: #1E88E5;
    color: #FFF;
    border-radius: 5px;
}
.create-ad .wrapper .album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.create-ad .wrapper .a-chooser{
    width: 230px;
    padding: 5px;
}
.create-ad .wrapper .album .upload-btn{
    background-color: #1E88E5;
    cursor: pointer;
}
.create-ad .wrapper .album > div{
    display: block;
    height: 120px;
    width: 120px;
    margin: 5px;
    background-color: #ECEFF1;
    position: relative;
}
.create-ad .wrapper .album > div > img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: center;
}
.create-ad .wrapper .album > div > .cbtn{
    position: absolute;
    filter: invert();
    background-color: rgba(255, 255, 255 , 0.5);
    top: 4px;
    right: 4px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.create-ad .wrapper .album .upload-btn > input{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.create-ad .wrapper .album .upload-btn > img{
    filter: invert();
    padding: 30px;
    cursor: pointer;
}
.create-ad .wrapper .grav{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0 5px;
}
.create-ad .head{
    display: flex;
    justify-content: flex-start;
}
.create-ad .head .img{
    display: block;
    height: 120px;
    width: 120px;
    flex-basis: 120px;
    background-color: #ECEFF1;
}
.create-ad .head .img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.create-ad .head h3{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 180px;
    margin: 5px;
    padding: 0;
}
.create-ad p{
    white-space: pre-wrap;
}
.create-ad .pics{
    display: flex;
    justify-content: flex-start;
}
.create-ad .pics > div{
    margin: 0;
}
.create-ad .pics > div:nth-child(7){
    display: none;
}
.create-ad .pics > div > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.create-ad .wrapper{
    padding-bottom: 55px;
}
.create-ad .pics > div{
    display: block;
    height: 80px;
    width: 80px;
    margin: auto;
    background-color: #ECEFF1;
}
.ads.delete-dialog{
    position: absolute;
    min-width: 300px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #CCC;
    top: 240px;
    left: 50%;
/*    transform: translate(-50%);*/
}
.ads.delete-dialog > h3{
    margin: 20px;
}
.ads.delete-dialog > .btns{}
.ads.delete-dialog > .btns{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.ads.delete-dialog > .btns > span{
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .ads-view > div.main{
        flex-basis: 470px;
    }
    .ads-view > div.main .pics > div{
        width: 85px;
        height: 85px;
    }
    .ads-view > div.suggests{
        flex-basis: 300px;
    }
    .ads.delete-dialog{
        left: 42.5%;
    }
}
@media screen and (max-width: 768px){
    .ads-view > div.main{
        flex-basis: 600px;
        margin: 20px auto 0 auto;
    }
    .ads-view > div.main > .pics > div{
        width: 80px;
        height: 80px;
    }
    .ads-view > div.suggests{
        flex-basis: 100%;
        margin: 0;
    }
    .ads.delete-dialog{
        left: 49%;
        top: 200px;
    }
}
@media screen and (max-width: 450px){
    .ads-view .btns span > span{
        display: none;
    }
    .ads-view .main .head > div{
        width: 110px;
        flex-basis: 110px;
        height: 110px;
    }
    .ads-view > div.main .pics > div{
        height: 58px;
        width: 58px;
    }
    .ads-view > div.suggests{
    }
    .ads-view .pics > div{
        height: 58px;
        width: 58px;
    }
    .ads-view > div{
        margin: 0;
    }
    .ads-view .head > h2{
        font-size: 1.2em;
    }
    .create-ad .wrapper{
        margin: 10px;
    }
    .create-ad .wrapper .album div{
        width: 100px;
        height: 100px;
    }
    .create-ad .pics > div{
        width: 58px;
        height: 58px;
    }
    .ads.delete-dialog{
        left: auto;
        right: 5px;
        top: 150px;
    }
}