.a-header{
    height: 40px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
}
.a-header > span{
    flex-grow: 1;
    padding: 10px;
}
.a-header > div > div{
    display: flex;
}
.a-header > div > div > span{
    padding: 10px;
}
.a-header > div > div > img{
    height: 40px;
    width: 40px;
    padding: 10px;
}
.a-tab{
    background-color: #FFF;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.a-tab > div{
    flex-grow: 1;
    flex-basis: 33.3%;
}
.a-tab > div > span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: #AAA;
}
.a-tab{}
.ads{}
