@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf)
}
@font-face{
    font-family: SixCaps;
    src: url(fonts/SixCaps.ttf)
}
@font-face{
    font-family: Lato Thin;
    src: url(fonts/Lato-Hairline.ttf)
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #FFF;
}
body{
    margin: 0;
    background-color: #ECEFF1;
    font-family: Roboto;
}
*{
    box-sizing: border-box;
}
.auth-pane{
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: #ECEFF1;
    transition: 0.3s;
}
.auth-pane.closed{
    height: 0;
}
input[type=text], input[type=email], input[type=password]{
    padding: 10px;
    outline: none;
    background-color: #EEE;
    border: none;
    box-shadow: 0 0 1px 1px #CCC inset;
    font-size: 1em;
}
input[type=button]{
    padding: 5px;
}
h2{
    text-align: center;
}
form.auth-form{
    width: 500px;
    margin: auto;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 15px;
    padding: 20px;
}
form.auth-form > input{
    display: block;
    width: 100%;
    margin: 5px 0;
}
form.auth-form{}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 450px) {
    .dialog{
        top: 0;
        bottom: 0;
    }
}
