<div class="account" ng-switch="accountState">
    <div class="loader" ng-switch-default>
        <p>loading</p>
    </div>
    <div class="login" ng-switch-when="1">
        <h2>Login to account</h2>
        <img src="/img/avatar.png" alt="Account"/>
        <input type="text" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <div>
            <span ng-click="toRecovery()">Trouble logging in?</span>
            <span ng-click="logIn()">Log in</span>
        </div>
        <span ng-click="toRegister()">Create new account</span>
    </div>
    <div class="register" ng-switch-when="2">
        <h2>Register new account</h2>
        <input type="text" placeholder="Display name"/>
        <input type="email" placeholder="Email"/>
        <a-chooser></a-chooser>
        <input type="password" placeholder="Password"/>
        <input type="password" placeholder="Re-enter password"/>
        <span ng-click="createNew()">Create account</span>
        <span ng-click="toLogin()">Already have an account?</span>
    </div>
    <div class="recovery" ng-switch-when="3">
        <p>Recovery</p>
    </div>
    <div class="main" ng-switch-when="4" ng-switch="mSection" ng-init="mSection = 6">
        <div class="header" a-header>
            <div class="left">
                <div ng-click="navOpen = !navOpen" class="naver" ng-class="{opened: navOpen}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="#/"><img src="/img/favicon.png" alt="Akomo"/></a>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="content">
            <div class="nav" ng-class="{opened: navOpen}" ng-click="navOpen = !navOpen">
                <span ng-class="{active: (mSection === 5)}" ng-click="mSection = 5">Console</span>
                <span ng-class="{active: (mSection === 6)}" ng-click="mSection = 6">My Messages</span>
                <span ng-class="{active: (mSection === 7)}" ng-click="mSection = 7">My Preferences</span>
                <span ng-class="{active: (mSection === 8)}" ng-click="mSection = 8">FAQs</span>
                <span>Sign out</span>
            </div>
            <div class="page" ng-switch-when="5">
                <span class="create-ad-btn" ng-click="createAd()">CREATE AD</span>
                <div class="ad-prev">
                    <div class="item" ng-repeat="x in [1, 2, 3, 4]">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="page" ng-switch-when="6">
                <div class="inbox">
                    <div class="thread">
                        <p>From</p>
                        <h2>gumedesduduzo@gmail.com</h2>
                    </div>
                    <div class="list" ng-click="expand = !expand" ng-class="{expanded: expand}">
                        <h2>Inbox</h2>
                    </div>
                </div>
            </div>
            <div class="page" ng-switch-when="7"></div>
            <div class="page" ng-switch-when="8">
                FAQs
            </div>
        </div>
    </div>
</div>
