<div class="account" ng-switch="accountState">
    <div class="loader" ng-switch-default>
        <p>loading</p>
    </div>
    <div class="login" ng-switch-when="1">
        <h2>Login to account</h2>
        <img src="/img/avatar.png" alt="Account"/>
        <input type="text" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <div>
            <span ng-click="toRecovery()">Trouble logging in?</span>
            <span ng-click="logIn()">Log in</span>
        </div>
        <span ng-click="toRegister()">Create new account</span>
    </div>
    <div class="register" ng-switch-when="2">
        <h2>Register new account</h2>
        <input type="text" placeholder="Display name"/>
        <input type="email" placeholder="Email"/>
        <a-chooser></a-chooser>
        <input type="password" placeholder="Password"/>
        <input type="password" placeholder="Re-enter password"/>
        <span ng-click="createNew()">Create account</span>
        <span ng-click="toLogin()">Already have an account?</span>
    </div>
    <div class="recovery" ng-switch-when="3">
        <p>Recovery</p>
    </div>
    <div class="main" ng-switch-when="4" ng-switch="mSection">
        <div class="header" a-header>
            <div class="left">
                <a href="#/"><img src="/img/favicon.png" alt="Akomo"/></a>
                <div ng-click="navOpen = !navOpen"  ng-class="{opened: navOpen}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="content">
            <div class="nav" ng-class="{opened: navOpen}">
                <span>Console</span>
                <span>My Messages</span>
                <span>My Account</span>
                <span>FAQs</span>
            </div>
            <div class="page" ng-switch-when="5">Hi</div>
        </div>
    </div>
</div>
