<div class="account" ng-switch="accountState">
    <div class="loader" ng-switch-default>
        <p>loading</p>
    </div>
    <div class="login" ng-switch-when="1">
        <h2>Login to account</h2>
        <img src="img/avatar.png" alt="Account"/>
        <input type="text" placeholder="Email" ng-model="authData.email"/>
        <input type="password" placeholder="Password" ng-model="authData.password"/>
        <div>
            <span ng-click="toRecovery()">Fogort password?</span>
            <span ng-click="logIn()">Log in</span>
        </div>
        <span ng-click="toRegister()">Create new account</span>
        <span ng-show="err" class="err">{{errMsg}}</span>
    </div>
    <div class="register" ng-switch-when="2">
        <h2>Register new account</h2>
        <input type="text" placeholder="Display name" ng-model="formData.dName"/>
        <input type="email" placeholder="Email" ng-model="formData.email"/>
        <input type="text" placeholder="Number" ng-model="formData.number"/>
        <div class="a-chooser">
            <span ng-click="openChooser()">{{lTitle}}</span>
            <div class="c-dialog" ng-show="isCOpen">
                <h4 ng-show="(cState === 1)">{{sTitle}} - <span ng-click="changeC()">Change</span></h4>
                <span ng-click="browse(instList.indexOf(x))" ng-repeat="x in instList">{{x.name}}</span>
            </div>
        </div>
        <input type="password" placeholder="Password" ng-model="formData.password"/>
        <input type="password" placeholder="Re-enter password" ng-model="formData.rePwd"/>
        <span ng-click="createNew()">Create account</span>
        <span ng-click="toLogin()">Already have an account?</span>
        <span ng-show="err" class="err">{{errMsg}}</span>
    </div>
    <div class="recovery" ng-switch-when="3">
        <h1>Recover your account!</h1>
        <p>Enter your email address</p>
        <input ng-class="{err: err}" type="text" placeholder="Email" ng-model="recoveryMail"/>
        <span class="submit" ng-click="recover()">Submit</span>
        <h4 ng-class="{success: success}">An email to reset your password will be sent to you in a moment</h4>
        <span ng-click="toLogin()" class="back">Log in</span>
    </div>
    <div class="main" ng-switch-when="4" ng-switch="mSection" ng-init="mSection = 5">
        <div class="header" a-header>
            <div class="left">
                <div ng-click="navOpen = !navOpen" class="naver" ng-class="{opened: navOpen}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="#!/home"><img src="img/Ako.png" alt="Akomo"/></a>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="content">
            <div class="nav" ng-class="{opened: navOpen}" ng-click="navOpen = !navOpen">
                <span ng-class="{active: (mSection === 5)}" ng-click="mSection = 5">Console</span>
                <span ng-class="{active: (mSection === 6)}" ng-click="mSection = 6">My Messages</span>
                <span ng-class="{active: (mSection === 7)}" ng-click="mSection = 7">My Preferences</span>
                <span ng-click="faqs()">FAQs</span>
                <span ng-click="logout()">Sign out</span>
            </div>
            <div class="page" ng-switch-when="5">
                <h1 ng-show="ads.length === 0">Nothing to see here. Create your first ad!</h1>
                <span class="create-ad-btn" ng-click="createAd()">CREATE AD</span>
                <div class="ad-prev" ng-show="ads.length !== 0">
                    <div class="item heading">
                        <span>Ad Title</span>
                        <span>Price</span>
                        <span>Date created</span>
                        <span>Views</span>
                    </div>
                    <div class="item" ng-repeat="x in ads" a-ad ng-click="openAd(x.id)">
                        <span>{{x.title}}</span>
                        <span>{{x.price | currency:'R '}}</span>
                        <span>{{x.date_created}}</span>
                        <span>{{x.count}}</span>
                    </div>
                </div>
            </div>
            <div class="page" ng-switch-when="6">
                <div class="inbox">
                    <div class="thread">
                        <p>From:</p>
                        <p>gumedesduduzo@gmail.com</p>
                        <div class="mes">
                            <span class="rec">How much?</span>
                        </div>
                        <div class="mes">
                            <span class="sent">But its there. Go back and look at the ad again.</span>
                        </div>
                        <div class="reply">
                            <input type="text" placeholder="Your reply..."/>
                            <div>
                                <img src="img/paper-plane.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="list" ng-click="expand = !expand" ng-class="{expanded: !expand}">
                        <h2>Inbox</h2>
                    </div>
                </div>
            </div>
            <div class="page" ng-switch-when="7">
                <div class="prefs">
                    <h3>Preferences</h3>
                    <div class="sections" any-key="onEdit()">
                        <div class="section">
                            <span>Details</span>
                            <span>SAVE</span>
                            <p>Display Name</p>
                            <input type="text" placeholder="John Wick" ng-model="account.name"/>
                            <p>Number</p>
                            <input type="text" placeholder="0604335310" ng-model="account.number"/>
                            <p>Email</p>
                            <input type="text" placeholder="foobar@baz.com" ng-model="account.email" disabled/>
                            <p>Campus</p>
                            <div class="a-chooser">
                                <span>{{account.campus}}</span>
                            </div>
                        </div>
                        <div class="section">
                            <span>Account Settings</span>
                            <div class="dbtn" ng-click="delAcc()">Delete account</div>
                        </div>
<!--                        <div class="section"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
