<div class="header" a-header>
    <div class="left">
        <a href="#!/home"><img src="img/Ako.png" alt="Akomo"/></a>
    </div>
    <div class="right">
        <a href="#!/ads/search"><img src="img/magnifying-glass.png" alt="search"/></a>
        <a href="#!/account"><img src="img/avatar.png" alt="account"/></a>
    </div>
</div>
<div class="ads-view">
    <div class="main" ng-switch="state">
        <div class="head">
            <div>
                <img ng-src="api.php/v1/image/thumb.jpg?id={{cover[0]}}"/>
            </div>
            <h3>{{ad.title}}</h3>
            <span>R 321.45</span>
        </div>
        <div ng-switch-default>
            <div class="btns" ng-hide="msg">
<!--                <span ng-click="reportAd(1)">REPORT</span>-->
                <span ng-click="msg = !msg">MESSAGE</span>
                <a ng-href="tel:{{ad.number}}"><span class="a">CALL<span>{{ad.number.substring(0, 3)}} {{ad.number.substring(3, 6)}} {{ad.number.substring(6, 10)}}</span></span></a>
            </div>
            <div class="btns" ng-show="msg">
                <span ng-click="msg = !msg">CANCEL</span>
                <span class="a" ng-click="sendMessage()">SEND</span>
            </div>
            <div class="messenger" ng-class="{expanded: msg}">
                <input type="text" placeholder="Email"/>
                <textarea placeholder="You message here"></textarea>
            </div>
        </div>
        <div ng-switch-when="1">
            <div class="btns" ng-hide="msg">
<!--                <span ng-click="reportAd(1)">REPORT</span>-->
                <span ng-click="msg = !msg">MESSAGE</span>
                <a ng-href="tel:{{ad.number}}"><span class="a">CALL<span>{{ad.number.substring(0, 3)}} {{ad.number.substring(3, 6)}} {{ad.number.substring(6, 10)}}</span></span></a>
            </div>
            <div class="btns" ng-show="msg">
                <span ng-click="msg = !msg">CANCEL</span>
                <span class="a" ng-click="sendMessage()">SEND</span>
            </div>
            <div class="messenger" ng-class="{expanded: msg}">
                <span>&#9679; {{email}}</span>
                <textarea placeholder="You message here"></textarea>
            </div>
        </div>
        <div ng-switch-when="2">
            <div class="messenger" ng-class="{expanded: (!msg)}">
                <img src="img/success.png"/>
                <h2>Message sent!</h2>
            </div>
        </div>
        <h5>{{ad.name}}</h5>
        <p>{{ad.description}}</p>
        <div class="pics">
            <div ng-repeat="x in ad.src_id">
                <img ng-src="api.php/v1/image/thumb.jpg?id={{x}}"/>
            </div>
            <div ng-repeat="x in dummy"></div>
        </div>
    </div>
    <div class="recommendations"></div>
</div>
<div class="report-ad"></div>
