<div class="create-ad">
    <div></div>
    <div class="wrapper" ng-switch="aPage" ng-init="aPage = 1">
        <h2>Create your advert</h2>
        <div ng-switch-default></div>
        <div ng-switch-when="1">
            <h3>Choose Title</h3>
            <input type="text" placeholder="Title"/>
            <h3>Select category</h3>
            <a-chooser></a-chooser>
            <h3>Price</h3>
            R<input type="number" placeholder="0.00"/>
            <h3>Description</h3>
            <textarea></textarea>
            <div class="grav">
                <span ng-click="cancelAd()">CANCEL</span>
                <span ng-click="step()">NEXT</span>
            </div>
        </div>
        <div ng-switch-when="2">
            <h3>Upload pictures</h3>
            <div class="album">
                <div class="upload-btn"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="grav">
                <span ng-click="back()">BACK</span>
                <span ng-click="step()">PREVIEW</span>
            </div>
        </div>
        <div ng-switch-when="3">
            <div class="head">
                <div class="img"></div>
                <!--Should be at most 80 characters-->
                <h3>Your title here with all the nitty gritties it comes with. I know it is sooo for.</h3>
            </div>
            <p>A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated. A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated. A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated. A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated. A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated. A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated.A long description here that will describe your application. This can be furthur estabilished to be a longer descrption than anticipated.</p>
            <div class="pics">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="grav">
                <span ng-click="back()">BACK</span>
                <span ng-click="step()">FINISH</span>
            </div>
        </div>
    </div>
</div>
