<div class="home">
    <div class="header" a-header>
        <div class="left">
            <a href="#!/home"><img src="img/Ako.png" alt="Akomo"/></a>
        </div>
        <div class="right">
            <a href="#!/ads/search"><img src="img/magnifying-glass.png" alt="search"/></a>
            <a href="#!/account"><img src="img/avatar.png" alt="account"/></a>
        </div>
    </div>
    <div class="main-content">
        <h2 class="title">Ads for {{campus}}</h2>
        <div class="ad" ng-repeat="x in ads" ng-click="viewAd(x.id)">
            <div class="head">
                <img ng-src="api.php/v1/image/thumb.jpg?a={{x.id}}&id=0"/>
            </div>
            <div class="body">
                <!--70 characters for the title-->
                <h3>{{x.title}}</h3>
                <span>{{x.price | currency:'R'}}</span>
                <span>{{x.date_created}}</span>
            </div>
        </div>
    </div>
</div>
