<div class="search-bar">
    <img ng-click="back()" src="img/back.png"/>
    <input type="search" any-key="suggest()" placeholder="Search" ng-model="query"/>
    <img src="/img/settings.png"/>
</div>
<div class="suggest" ng-show="(query.length > 1) && isTyping">
    <div class="item" ng-click="searchFor()">
        <span>{{query}}</span>
        <span>Search...</span>
    </div>
    <div class="item" ng-repeat="x in ads" ng-click="viewAd(x.id)">
        <span>{{x.title}}</span>
        <span>{{x.price | currency: 'R '}} - {{x.date_created}}</span>
    </div>
</div>
<div class="search">
</div>
