<div header account="1"></div>
<div class="account" ng-switch="section">
    <div ng-switch-default></div>
    <div class="main" ng-switch-when="console" ng-controller="consoleCtl">
        <div class="header">
            <span class="label">{{name}}</span>
            <div class="item" ng-click="createAd()">
                <img src="img/add.png"/>
                <span>CREATE AD</span>
            </div>
            <div class="item" ng-click="toInbox()">
                <img src="img/envelope.png"/>
                <span>INBOX</span>
                <div class="color-accent" ng-show="notify > 0">{{notify}}</div>
            </div>
            <div class="item" ng-click="toPrefs()">
                <img src="img/settings-2.png"/>
                <span>PREFRENCES</span>
            </div>
            <div class="item" ng-click="logout()">
                <img src="img/logout.png"/>
                <span>LOG OUT</span>
            </div>
        </div>
        <h1 class="zero" ng-show="ads.length === 0">Nothing to see here. Create your first ad!</h1>
        <div class="ads-list" ng-hide="ads.length === 0">
            <div class="item heading">
                <span>Ad Title</span>
                <span>Price</span>
                <span>Date created</span>
                <span>Views</span>
            </div>
            <div class="item" ng-repeat="x in ads" a-ad ng-click="openAd(x.id)">
                <span>{{x.title}}</span>
                <span>{{x.price | currency:'R'}}</span>
                <span>{{x.date_created}}</span>
                <span>{{x.count}}</span>
            </div>
        </div>
    </div>
    <div class="login" ng-switch-when="login" ng-controller="loginCtl">
        <form ng-submit="logIn(auth)">
            <h2 class="color-primary">Login to your account</h2>
            <img src="img/avatar.png" alt="Account"/>
            <label for="email">Email</label>
            <input name="email" type="text" placeholder="john@gmail.com" ng-model="auth.email"/>
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Password" ng-model="auth.password"/>
            <span ng-show="err" class="err">{{errMsg}}</span>
            <div class="btns">
                <span class="color-accent-inv" ng-click="toRecovery()">Forgot password?</span>
                <span class="color-accent" ng-click="logIn(auth)">Login</span>
            </div>
            <span class="btn color-accent-inv" ng-click="toRegister()">Create new account</span>
        </form>
    </div>
    <div class="register" ng-switch-when="register" ng-controller="registerCtl">
        <form>
            <h2 class="color-primary">Register account</h2>
            <label for="name">Display name</label>
            <input name="name" type="text" placeholder="John" ng-model="formData.name"/>
            <label for="email">Email</label>
            <input name="email" type="text" placeholder="john@mail.com" ng-model="formData.email"/>
            <label for="tell">Cellphone number</label>
            <input name="tell" type="text" placeholder="0734567891" ng-model="formData.number"/>
            <label>Campus name</label>
            <div class="a-chooser">
            <span ng-click="openChooser()">{{lTitle}}</span>
            <div class="c-dialog" ng-show="isCOpen">
                <h4 ng-show="(cState === 1)">{{sTitle}} - <span ng-click="changeC()">Change</span></h4>
                <span ng-click="browse(instList.indexOf(x))" ng-repeat="x in instList">{{x.name}}</span>
            </div>
        </div>
            <label for="pwd">Password</label>
            <input name="pwd" type="password" placeholder="Password" ng-model="formData.password"/>
            <label for="repwd">Re enter password</label>
            <input name="repwd" type="password" placeholder="Re-enter password" ng-model="formData.rePwd"/>
            <span ng-show="err" class="err">{{errMsg}}</span>
            <span class="btn color-accent" ng-click="createNew()">Create account</span>
            <span class="btn color-accent-inv" ng-click="toLogin()">Already have an account?</span>
        </form>
    </div>
    <div class="recovery" ng-switch-when="recovery" ng-switch="rState" ng-controller="recoverCtl">
        <form>
            <h2 class="color-primary">Recover your account</h2>
            <p>An email will be sent to you with a link to reset your password</p>
            <label for="email">Enter your email address</label>
            <input type="text" name="email" ng-model="em">
            <div class="btns">
               <span class="color-accent-inv" ng-click="back()">BACK</span>
                <span class="color-accent" ng-click="recover(em)">SEND EMAIL</span>
            </div>
        </form>
    </div>
    <div class="verify" ng-switch-when="verify" ng-controller="verifyCtl">
        <form>
            <h2 class="color-primary">Verify your email address</h2>
            <p>Your registration process is almost complete. An email with a link to verify your account, has been sent to you. Follow the link to complete your registration and access your console.</p>
            <p>If you haven't received the verification email please click resend and check your inbox. Also don't forget to check the 'spam' folder.</p>
            <span class="btn color-accent" ng-click="sendVerification()">RESEND EMAIL</span>
            <span class="btn color-accent-inv" ng-click="toLogin()">LOGIN</span>
        </form>
    </div>
    <div class="main" ng-switch-when="prefs" ng-controller="prefsCtl">
        <div class="header">
            <span class="label">Preferences</span>
            <div class="item" ng-click="save()" ng-show="dataChanged">
                <img src="img/correct.png"/>
                <span>SAVE</span>
            </div>
            <div class="item" ng-click="toCons()">
                <img src="img/avatar.png"/>
                <span>BACK</span>
            </div>
        </div>
        <div class="prefs">
            <div class="item">
                <span>Display name</span>
                <span class="color-accent-inv" ng-click="edit(1)">EDIT</span>
                <h2>{{current.name}}</h2>
            </div>
            <div class="item">
                <span>Cellphone number</span>
                <span class="color-accent-inv" ng-click="edit(2)">EDIT</span>
                <h2 ng-switch="current.w">{{current.number}}<img src="/img/whatsapp.png" ng-switch-when="0"/><img class="whatsapp" src="/img/whatsapp.png" ng-switch-when="1"/></h2>
            </div>
            <div class="item">
                <span>Account</span>
                <span class="color-accent-inv" ng-click="edit(3)">DELETE ACCOUNT</span>
                <h2>{{current.email}}</h2>
            </div>
            <div class="item">
                <span>Credits</span>
                <span class="color-accent-inv" ng-click="edit(4)">RECHARGE</span>
                <h2>{{credits}}</h2>
            </div>
        </div>
        <div ng-switch="editing">
            <div class="edit-dialog" ng-switch-when="1">
                <h4 class="color-primary">Display name</h4>
                <input type="text" ng-model="data.name"/>
                <div class="btns">
                    <span class="color-accent-inv" ng-click="close()">CLOSE</span>
                </div>
            </div>
            <div class="edit-dialog" ng-switch-when="2">
                <h4 class="color-primary">Cellphone number</h4>
                <input type="text" ng-model="data.number"/>
                <div class="w">
                    <input name="w" type="checkbox" ng-model="data.w"/>
                    <label for="w">Available on whatsapp</label>
                </div>
                <div class="btns">
                    <span class="color-accent-inv" ng-click="close()">CLOSE</span>
                </div>
            </div>
            <div class="edit-dialog" ng-switch-when="3">
                <h4 class="color-primary">Are you sure you want to delete this account and erase all adverts associated with it?</h4>
                <div>
                    <label>Confirm your password first.</label>
                    <input type="password" ng-model="pwd"/>
                </div>
                <div class="btns">
                    <span class="color-accent-inv" ng-click="close()">CANCEL</span>
                    <span class="color-accent" ng-click="del(pwd)">DELETE</span>
                </div>
            </div>
            <div class="edit-dialog" ng-switch-when="4">
                <h4 class="color-primary">Recharge credits account</h4>
                <div class="chooser">
                    <div ng-class="{active: deal === 1}" ng-click="choose(1)">
                        <p>100</p>
                        <p>{{(credits === -1) ? 0 : rates * 100 | currency : 'R'}}</p>
                    </div>
                    <div ng-class="{active: deal === 2}" ng-click="choose(2)">
                        <p>200</p>
                        <p>{{rates * 200 | currency : 'R'}}</p>
                    </div>
                    <div ng-class="{active: deal === 3}" ng-click="choose(3)">
                        <p>500</p>
                        <p>{{rates * 500 | currency : 'R'}}</p>
                    </div>
                    <div ng-class="{active: deal === 4}" ng-click="choose(4)">
                        <p>1000</p>
                        <p>{{rates * 1000 | currency : 'R'}}</p>
                    </div>
                </div>
                <div class="btns">
                    <span class="color-accent-inv" ng-click="close()">CANCEL</span>
                    <span class="color-accent" ng-click="buy()">BUY</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" ng-show="loading">
    <div class="color-primary"></div>
    <div class="color-primary"></div>
</div>
<div class="error-dialog" ng-show="error.showing">
    <div class="container">
        <h2>{{error.title}}</h2>
        <p>{{error.description}}</p>
        <div class="btns">
            <span class="color-accent-inv" ng-click="closeErrDialog()">CLOSE</span>
        </div>
    </div>
</div>
