$header-height: 55px;
$background-color: #ECEFF1;
$market-color: #FF5722;
$home-color: #546E7A;
$account-color: #000;

@keyframes market-enter-anim {
  0% {
    background-color: $market-color;
    opacity: 0;
  } 100% {
    background-color: $background-color;
    opacity: 1;
  }
}
