.home{
    display: flex;
}
.home .sidebar{
    flex-basis: 240px;
    background-color: red;
}
.home .sidebar > .head{
    height: 60px;
}
.home .sidebar > .body{
    padding: 15px;
}
.home .sidebar > .body > span{
    display: block;
    height: 45px;
    line-height: 45px;
}
.home .sidebar > .body > span{}
.home > .content{
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    flex-grow: 1;
}
.home > .content > .infographics{
    flex-grow: 1;
    flex-basis: 1px;
}
.home > .content > .infostatics{
    flex-basis: 200px;
    height: 400px;
    background-color: blue;
}
.home > .content > .infostatics > .unit{
    padding: 5px;
}
.home > .content > .infostatics > .unit > span{
    display: block;
    margin: 5px;
}
.home > .content > .infostatics > .unit{}
.home > .content > .header{
    flex-basis: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
}
.home > .content > .header > h2{
    margin: 0;
    flex-grow: 1;
    padding: 0 15px;
}
.home > .content > .header > .sidebar-btn{
    height: 50px;
    width: 50px;
}
.home > .content{}
@media screen and (max-width: 450px){
    .home > .content > .infographics{
        flex-basis: 100%;
    }
}
