.notfound{
    background-image: url(/img/Ako.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
}
.notfound > div{
    height: 100%;
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.7);
}
.notfound > div > h1{
    font-family: Lato Thin;
    font-size: 4em;
    margin: 0;
    color: #BBB;
}
@media screen and (max-width: 768px){
    .notfound > div{
        padding: 20px;
    }
    .notfound > div > h1{
        font-size: 2.4em;
    }
}