<div class="header color-primary">
    <div class="left">
        <img class="h-btn" src="img/favicon.png" alt="Akomo" ng-click="toHome()"/>
    </div>
    <div class="right">
        <img class="h-btn" src="img/magnifying-glass.png" alt="search" ng-click="toSearch()"/>
        <img ng-hide="(account) || name" class="h-btn" src="img/avatar.png" alt="account" ng-click="toAccount()"/>
        <div ng-show="(!account) && name" class="h-label">
            <span ng-click="toAccount()">{{name}}</span>
            <img class="h-btn" ng-click="logout()" src="/img/logout.png"/>
        </div>
    </div>
</div>
