.landing{
    background-image: url(/img/college-student.jpg);
    background-position: top;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
}
.landing .splash{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.landing .splash > img{
    display: block;
    object-fit: contain;
    flex-basis: 450px;
    height: 450px;
    margin: auto;
}
.landing .splash > div{
    flex-basis: 450px;
    margin: 200px auto 0 auto;
}
.landing .splash span{
    display: block;
    margin: auto;
    color: #FFF;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #FFF;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
.landing .splash span:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.landing .splash h1{
    color: #FFF;
    font-family: Lato Thin;
    text-align: center;
}
.landing .splash h1:nth-child(2){
    font-family: Lato;
}
.landing .heading{
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.landing .heading img{
    height: 60px;
}
.landing .heading span{
    display: block;
    margin: 10px;
    padding: 10px 18px;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}
.landing .heading span:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1024px){
    .landing .splash > img{
        flex-basis: 384px;
        height: 384px;
        margin: 20px auto;
    }
    .landing .splash > div{
        flex-basis: 384px;
        margin: 100px auto 0 auto;
    }
}
@media screen and (max-width: 768px){
    .landing .splash{
        justify-content: flex-start;
    }
    .landing .splash > div{
        margin: 0 auto;
    }
    .landing .splash > img {
        flex-basis: 200px;
        height: 200px;
    }
    .landing .splash > div h1{
        margin: 10px 0;
        font-size: 1.3em;
    }
}
@media screen and (max-width: 450px){
    .landing{
        background-image: url(/img/college-student-small.jpg);
    }
    .landing .heading{
        justify-content: space-between;
    }
}