$background-color: #eceff1;
$primary-color-dark: #455a64;
$primary-color: #607d8b;
$primary-color-light: #cfd8dc;
$primary-color-text: #ffffff;
$accent-color: #ffab00;
$secondary-color: #ffab00;
$secondary-color-light: #ffdd4b;
$secondary-color-dark: #c67c00;
$primary-text-color: #212121;
$secondary-text-color: #ffffff;
$divider-color: #bdbdbd;
$gold-color: #ffd700;

$bar-height: 50px;

@mixin logo-gradient($a, $b) {
  background: $a;
  background: -moz-linear-gradient(left, $a 0%, $b 100%);
  background: -webkit-linear-gradient(left, $a 0%, $b 100%);
  background: linear-gradient(to right, $a 0%, $b 100%);
}

@mixin no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
