@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf)
}
@font-face{
    font-family: SixCaps;
    src: url(fonts/SixCaps.ttf)
}
@font-face{
    font-family: Lato Thin;
    src: url(fonts/Lato-Hairline.ttf)
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #FFF;
}
body{
    margin: 0;
    background-color: #ECEFF1;
    font-family: Roboto;
}
.landing{
    background-image: url(/img/college-student.jpg);
    background-position: top;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
}
.landing .splash{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.landing .splash > img{
    display: block;
    object-fit: contain;
    flex-basis: 450px;
    height: 450px;
    margin: auto;
}
.landing .splash > div{
    flex-basis: 450px;
    margin: 200px auto 0 auto;
}
.landing .splash span{
    display: block;
    margin: auto;
    color: #FFF;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #FFF;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
.landing .splash span:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.landing .splash h1{
    color: #FFF;
    font-family: Lato Thin;
    text-align: center;
}
.landing .splash h1:nth-child(2){
    font-family: Lato;
}
.landing .heading{
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.landing .heading img{
    height: 60px;
}
.landing .heading span{
    display: block;
    margin: 10px;
    padding: 10px 18px;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}
.landing .heading span:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #607D8B;
}
.header .right{
    overflow: hidden;
}
.header .right img{
    display: inline-block;
    height: 50px;
    padding: 14px;
    filter: invert();
}
.header .left{
    overflow: hidden
}
.header .left img{
    height: 50px;
    display: block;
}
.dialog{
    position: fixed;
    background-color: #FFF;;
    max-width: 450px;
    width: 100%;
    height: 450px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.dialog h2{
    margin: 10px 0;
}
.dialog h4{
    margin: 5px 0;
    color: #A3A3A3;
}
.dialog h4 > span{
    color: #00BFA5;
    cursor: pointer;
}
.dialog .list-wrapper{
    flex-grow: 1;
    overflow: auto;
}
.dialog .list-wrapper > span{
    display: block;
    padding: 10px;
    cursor: pointer;
}
.dialog .list-wrapper > span:hover{
    background-color: #F3F3F3;
}
.dialog .list-wrapper{}
.dialog .btns{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
.dialog .btns > span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    cursor: pointer;
}
.dialog .btns > span:hover{
    background-color: #F3F3F3;;
}
.account .login{
    max-width: 450px;
    margin: 40px auto;
}
.account .login h2{
    text-align: center;
}
.account .login img{
    display: block;
    height: 190px;
    margin: auto;
    border: 25px solid #546E7A;
    background-color: #546E7A;
    border-radius: 95px;
    opacity: 0.3;
}
.account .login input{
    width: 90%;
    margin: 20px auto 0 auto;
    display: block;
    outline: none;
    padding: 10px;
    border: 0px;
    border-bottom: 2px solid #546E7A;
    background-color: rgba(84, 110, 123, 0.1);
    font-size: 1;
}
.account .login input:focus{
    background-color: rgba(84, 110, 123, 0.3);
}
.account .login span{
    display: block;
    margin: 10px auto 0 auto;
    width: 90%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #009688;
    cursor: pointer;
}
.account .login span:nth-child(2){
    background-color: #009688;
    color: #FFF;
}
.account .login > div{
    width: 90%;
    margin: auto;
    display: flex;
}
.account .register{
    max-width: 450px;
    margin: 40px auto;
}
.account .register h2{
    text-align: center;
}
.account .register input{
    display: block;
    width: 90%;
    margin: 20px auto 0 auto;
    outline: none;
    padding: 10px;
    border: 0px;
    border-bottom: 2px solid #546E7A;
    background-color: rgba(84, 110, 123, 0.1);
    font-size: 1;
}
.account .register > a-chooser{
    display: block;
    width: 90%;
    margin: 20px auto 0 auto;
    outline: none;
    padding: 10px;
    background-color: rgba(84, 110, 123, 0.1);
}
.account .register > span{
    display: block;
    width: 90%;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #009688;
    cursor: pointer;
}
.account .register span:nth-child(7){
    background-color: #009688;
    color: #FFF;
}
.account .main .header .left{
    display: flex;
}
.account .main .header .left .naver{
    position: relative;
    width: 50px;
    display: none;
}
.account .main .header .left .naver span{
    display: block;
    height: 5px;
    width: 25px;
    position: absolute;
    background-color: #FFF;
    left: 12px;
    border-radius: 3px;
    transition: 0.2s;
}
.account .main .header .left .naver span:nth-child(1){
    top: 12px;
}
.account .main .header .left .naver span:nth-child(2){
    top: 22px;
}
.account .main .header .left .naver span:nth-child(3){
    top: 32px;
}
.account .main .header .left .naver.opened span:nth-child(2){
    opacity: 0;
}
.account .main .header .left .naver.opened span:nth-child(1){
    transform: rotate(-45deg) translate(-4px);
}
.account .main .header .left .naver.opened span:nth-child(3){
    transform: rotate(45deg) translate(-4px);
}
.account .main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}
.account .main .content{
    flex-grow: 1;
    display: flex;
    flex-basis: 100px;
    overflow: auto;
}
.account .main .content .nav{
    flex-basis: 280px;
}
.account .main .content .nav span{
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
    font-size: 1.3em;
    color: #546E7A;
    cursor: pointer;
    background-color: #CFD8DC;
}
.account .main .content .nav span.active{
    background-color: #B0BEC5;
}
.account .main .content .page{
    flex-grow: 1;
}
.account .main .content .page .inbox{
    width: 100%;
    display: flex;
}
.account .main .content .page .inbox .thread{
    flex-basis: 500px;
    padding: 10px;
    position: relative;
    padding-bottom: 50px;
}
.account .main .content .page .inbox .thread p{
    margin: 0;
    opacity: 0.3;
}
.account .main .content .page .inbox .thread .mes{

}
.account .main .content .page .inbox .thread .mes span{
    background-color: #FFF;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 1px 1px 1px #CCC;
    margin: 5px 0;
    border-radius: 15px 15px 15px 0;
    max-width: 90%;
}
.account .main .content .page .inbox .thread .mes .sent{
    background-color: #A7FFEB;
    float: right;
    border-radius: 15px 15px 0 15px;
}
.account .main .content .page .inbox .thread .reply{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #FFF;
    position: absolute;
    left: 0;
    bottom: 49px;
}
.account .main .content .page .inbox .thread .reply > input{
    font-size: 1em;
    flex-grow: 1;
    outline: none;
    border: 0px;
    padding: 5px;
}
.account .main .content .page .inbox .thread .reply > div{
    height: 50px;
    width: 50px;
    flex-basis: 50px;
    margin: 5px;
    background-color: #009688;
    border-radius: 25px;
}
.account .main .content .page .inbox .thread .reply > div img{
    height: 100%;
    width: 100%;
    padding: 10px;
    filter: invert();
    transform: rotate(45deg) translateX(-3px) translateY(3px);
}
.account .main .content .page .inbox .list{
    background-color: #F9F9F9;
    box-shadow: 0 1px 1px 1px #CCC;
    flex-basis: 400px;
    margin: 40px;
    height: 500px;
}
.account .main .content .page .inbox .list h2{
    text-align: center;
    margin: 0;
    padding: 10px 5px;
    box-shadow: 0 0 1px 1px #CCC;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.account .main .content .page .prefs{
    padding: 5px;
}
.account .main .content .page .prefs > h3, .account .main .content .page .faqs > h3{
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0.3;
    text-align: center;
}
.account .main .content .page .prefs .sections{
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
}
.account .main .content .page .prefs .section:nth-child(1){
}
.account .main .content .page .prefs .section{
    flex-grow: 1;
    flex-basis: 350px;
    padding: 5px;
    position: relative;
}
.account .main .content .page .prefs .section > span:nth-child(1){
    display: block;
    padding: 5px;
    color: #90A4AE;
    border-bottom: 1px solid #90A4AE;
    margin-bottom: 5px;
}
.account .main .content .page .prefs .section > span:nth-child(2){
    position: absolute;
    top: 0;
    right: 5px;
    padding: 7px;
    color: #90A4AE;
}
.account .main .content .page .prefs .section > span.editing{
    color: #00BFA5;
    font-weight: bold;
    border: 1px solid #00BFA5;
    cursor: pointer;
}
.account .main .content .page .prefs p{
    margin-bottom: 0;
}
.account .main .content .page .prefs input{
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 7px 0 2px 0 ;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #90A4AE;
}
.account .main .content .page .prefs input:focus{
    border-bottom-color: #00BFA5;
}
.account .main .content .page .prefs a-chooser{
    display: block;
    padding: 5px;
    margin-top: 5px;

}
.account .main .content .page .prefs .section > .dbtn{
    display: block;
    text-align: center;
    max-width: 350px;
    margin: 20px auto;
    background-color: #EF5350;
    color: #FFF;
    height: 40px;
    line-height: 34px;
    border-radius: 10px;
    border: 3px solid #FFF;
    cursor: pointer;
}
.dlt-acc{
    padding: 5px;
    display: block;
    max-width: 450px;
    margin: 90px auto;
}
.dlt-acc h2{
    text-align: center;
}
.dlt-acc p{
    text-align: center;
}
.dlt-acc input{
    display: block;
    width: 70%;
    margin: auto;
    padding: 10px 10px 3px 10px;
    font-size: 1em;
    border: 0px;
    outline: none;
    border-bottom: 2px solid #CCC;
    text-align: center;
}
.dlt-acc span{
    float: left;
    margin: 5px  0 0 15%;
    padding: 9px;
    border-radius: 5px;
    color: #009688;
    cursor: pointer;
}
.dlt-acc span:nth-child(5){
    float: right;
    margin: 5px 15% 0 0;
    color: #EF5350;
}
.create-ad-btn{
    display: block;
    max-width: 268px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 30px;
    background-color: #009688;
    color: #FFF;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50px;
    width: 100px;
}
.account .content .ad-prev{
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #CCC;
    margin: 60px 30px;
    padding: 5px;
    min-width: 815px;
}
.account .page{
    overflow-x: auto;
}
.account .content .ad-prev .heading{
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    opacity: 0.5;
}
.account .content .ad-prev .item > span{
    display: inline-block;
    min-width: 100px;
}
.account .content .ad-prev .item > span:first-child{
    width: 320px;
}
.account .content .ad-prev .item{
    padding: 10px 0;
}
.account .content .ad-prev .item:hover:not(:first-child){
    background-color: #F3F3F3;
    cursor: pointer;
}
.account .content .ad-prev .item img{
    display: inline-block;
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin: 0 10px;
    transform: translateY(4px)
}
.account .content .ad-prev .item{}
.main-content{
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.ad{
    display: block;
    height: 285px;
    width: 174px;
    margin: 15px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #CCC;
    position: relative;
    cursor: pointer;
}
.ad img{
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 15px
}
.ad > div > span:nth-child(3), .ad > div > span:nth-child(2){
    position: absolute;
    left: 0px;
    bottom: 0;
    padding: 5px;
}
.ad > div > span:nth-child(3){
    color: #90A4AE;
}
.ad > div > span:nth-child(2){
    text-align: right;
    color: #004D40;
    right: 0;
    left: auto;
}
.ad > div > span.large{
    font-size: 1.3em;
}
.ad > div{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    height: 115px;
    padding: 5px;
}
.ads-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ads-view > div{
    margin: 40px 2%;
}
.ads-view > div:nth-child(1){
    display: block;
    flex-basis: 550px;
    min-height: 400px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #CCC;
    padding-bottom: 5px;
}
.ads-view > div:nth-child(2){
    flex-basis: 350px;
    height: 20px;
}

.ads-view .main .head{
    padding: 5px;
    display: flex;
    position: relative;
}
.ads-view .main .head > div{
    height: 180px;
    flex-basis: 180px;
    background-color: #ECEFF1;
}
.ads-view .main .head > h3{
    padding-left: 5px;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 0;
}
.ads-view .main .head > span{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    padding: 5px;
    font-size: 1.2em;
}
.ads-view .btns{
    background-color: #ECEFF1;
    min-height: 25px;
    display: flex;
    justify-content: flex-end;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ads-view .btns a{
    text-decoration: none;
}
.ads-view .btns span > span{
    display: inline;
    color: #FFF;
}
.ads-view .btns span{
    display: block;
    padding: 0 5px;
    margin: 5px;
    height: 35px;
    line-height: 35px;
    color: #00BFA5;
    cursor: pointer;
}
.ads-view .btns span.a{
    color: #FFF;
    border-radius: 5px;
    background-color: #00BFA5;
}
.ads-view .pics{
    display: flex;
    justify-content: center;
}
.ads-view .pics > div{
    display: block;
    height: 80px;
    width: 80px;
    margin: auto;
    background-color: #ECEFF1;
}
.ads-view .messenger{
    background-color: #ECEFF1;
    padding: 5px;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
    height: 0;
}
.ads-view .messenger span{
    display: block;
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    font-size: 1em;
}
.ads-view .messenger input{
    display: block;
    outline: none;
    border: 0px;
    font-size: 1em;
    padding: 10px;
    width: 100%;

}
.ads-view .messenger textarea{
    outline: none;
    border: 0px;
    box-shadow: 0 0 1px 1px #CCC;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 1em;
    padding: 5px;
    font-family: Roboto;
}
.ads-view .messenger h2{
    text-align: center;
}
.ads-view .messenger img{
    display: block;
    height: 50px;
    width: auto;
    margin: 30px auto 0 auto;
    filter: blur(2px);
}
.ads-view .messenger.expanded{
    height: 172px;
    opacity: 1;
}
a-chooser{
    display: inline-block;
    min-height: 18px;
    min-width: 100px;
    border: 1px solid #CCC;
}
.create-ad{
    position: absolute;
    height: 100%;
    width: 100%;
}
.create-ad:nth-child(1){
    background-color: #009688;
/*    background-color: #FF5722;*/
    height: 20%;
}
.create-ad .wrapper{
    margin: 10px auto;
    max-width: 450px;
    min-height: 500px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #ccc;
    padding: 5px;
}
.create-ad .wrapper h3{
    margin-bottom: 5px;
}
.create-ad .wrapper h2{
    text-align: center;
}
.create-ad .wrapper input{
    outline: none;
    border: 0px;
    display: block;
    font-size: 1em;
    border-bottom: 2px solid #CFD8DC;
    padding: 5px;
}
.create-ad .wrapper input:focus{
    border-bottom-color: #00BFA5;
}
.create-ad .wrapper input[type=text]{
    width: 100%;
}
.create-ad .wrapper input[type=number]{
    display: inline-block;
    width: 100px;
}
.create-ad .wrapper a-chooser{
    padding: 5px;
    width: 200px;
}
.create-ad .wrapper textarea{
    outline: none;
    border: 1px solid #CCC;
    resize: none;
    box-shadow: 0 0 1px 1px #CCC inset;
    width: 100%;
    height: 110px;
    font-family: Roboto;
    font-size: 1em;
}
.create-ad .wrapper textarea:focus{
    border-color: #00BFA5;
}
.create-ad .wrapper{
    position: relative;
}
.create-ad .wrapper > div > div{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.create-ad .wrapper > div > div span{
    display: block;
    margin: 0 0 0 5px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;
}
.create-ad .wrapper > div > div span:nth-child(1){
    color: #00BFA5;
}
.create-ad .wrapper > div > div span:nth-child(2){
    background-color: #00BFA5;
    color: #FFF;
    border-radius: 5px;
}
.create-ad .wrapper .album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.create-ad .wrapper .album .upload-btn{
    background-color: #009688;
}
.create-ad .wrapper .album div{
    display: block;
    height: 120px;
    width: 120px;
    margin: 5px;
    background-color: #ECEFF1;
}
.create-ad .wrapper .grav{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0 5px;
}
.create-ad .head{
    display: flex;
    justify-content: flex-start;
}
.create-ad .head .img{
    display: block;
    height: 120px;
    width: 120px;
    flex-basis: 120px;
    background-color: #ECEFF1;
}
.create-ad .head h3{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    margin: 5px;
    padding: 0;
}
.create-ad .pics{
    display: flex;
    justify-content: center;
}
.create-ad .wrapper{
    padding-bottom: 55px;
}
.create-ad .pics > div{
    display: block;
    height: 80px;
    width: 80px;
    margin: auto;
    background-color: #ECEFF1;
}
.search .cat{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.search .cat .elem{
    display: block;
    height: 250px;
    flex-basis: 250px;
    margin: 0 50px;
    background-color: #FFF;
    border-radius: 125px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.search .cat .elem:hover{
    box-shadow: 0 0 2px 2px #CCC;
}
.search .cat .elem img{
    height: 100%;
    width: 100%;
    padding: 60px;
}
.search .cat .elem span{
    display: block;
    position: absolute;
    height: 100%;
    line-height: 250px;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    font-weight: bold;
    transition: 0.3s;
}
.search .cat .elem span:hover{
    opacity: 0.7;
    transform: rotate(360deg);
}
.search .cat:nth-child(1) > div:nth-child(1) > span:nth-child(2){
    background-color: #E1BEE7;
}
.search .cat:nth-child(1) > div:nth-child(2) > span:nth-child(2){
    background-color: #FFCDD2;
}
.search .cat:nth-child(2) > div:nth-child(1) > span:nth-child(2){
    background-color: #FFF9C4;
}
.search .cat:nth-child(2) > div:nth-child(2) > span:nth-child(2){
    background-color: #C8E6C9;
}
.search-bar{
    height: 50px;
    background-color: #FFF;
    display: flex;
}
.search-bar img{
    height: 50px;
    width: 50px;
    flex-basis: 50px;
    padding: 14px;
}
.search-bar input{
    outline: none;
    flex-basis: 700px;
    border: 0;
    padding: 10px;
    font-size: 1em;
    margin-left: 17%;
    border-bottom: 1px solid #CCC;
}
.search-bar span{
    line-height: 50px;
    padding: 0 20px;
    opacity: 0.4;
}
.suggest{
    position: absolute;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #CCC;
    display: none;
}
.suggest > div{
    background-color: #FFF;
    max-width: 650px;
    margin-left: 17%;
    padding: 10px 0 10px 60px;
    cursor: pointer;
}
.suggest > div{
    color: #AAA;
}
.suggest > div > span{
    color: #000;
    font-weight: bold;
}
.suggest > div{}
@media screen and (max-width: 1024px){
    .landing .splash > img{
        flex-basis: 384px;
        height: 384px;
        margin: 20px auto;
    }
    .landing .splash > div{
        flex-basis: 384px;
        margin: 100px auto 0 auto;
    }
    .main-content{
        max-width: 768px;
    }
    .ad{
        margin: 15px 9px;
    }
    .account .main .content .page .inbox .list{
        margin: 30px 0;
    }
    .search-bar input{
        margin-left: 5%;
    }
    .suggest > div{
        margin-left: 5%;
    }
}
@media screen and (max-width: 768px){
    .landing .splash{
        justify-content: flex-start;
    }
    .landing .splash > div{
        margin: 0 auto;
    }
    .landing .splash > img {
        flex-basis: 200px;
        height: 200px;
    }
    .landing .splash > div{}
    .landing .splash > div h1{
        margin: 10px 0;
        font-size: 1.3em;
    }
    .main-content{
        justify-content: center;
    }
    .account .main .content .page .inbox{
        position: relative;
        height: 100%;
    }
    .account .main .content .page .inbox .list{
        position: absolute;
        height: 48px;
        margin: 0;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.2s;
    }
    .account .main .content .page .inbox .list >h2{
        transition: 0.2s;
    }
    .account .main .content .page .inbox .list.expanded > h2{
        opacity: 0.3;
    }
    .account .main .content .page .inbox .list.expanded{
        height: 100%;
        overflow: auto;
    }
    .search .cat{
        padding: 20px;
    }
    .search .cat .elem{
        flex-basis: 200px;
        height: 200px;
        margin: 0 20px;
    }
    .search .cat .elem span{
        line-height: 200px;
    }
    .search-bar input{
        margin: 0;
    }
    .suggest{
        z-index: 1;
    }
    .suggest > div{
        margin: 0;
        width: 100%;
        max-width: none;
        padding-left: 57px;
    }
    .create-ad-btn{
        height: 40px;
        line-height: 40px;
        margin: 5px 3px;
        box-shadow: 0 1px 1px 1px #CCC;
    }
    .dialog{
        top: 30px;
    }
}
@media screen and (max-width: 450px){
    .landing{
        background-image: url(/img/college-student-small.jpg);
    }
    .landing .heading{
        justify-content: space-between;
    }
    .landing .splash{}
    .main-content{
        margin: 0;
    }
    .ad{
        width: 100%;
        height: 100px;
        margin: 2px 5px 0 5px;
        display: flex;
    }
    .ad img{
        height: 100px;
        width: 100px;
    }
    .ad > div > span:nth-child(3){
        top: auto;
        left: 105px;
        bottom: 5px;
    }
    .ad > div > span:nth-child(2){
        bottom: 5px;
        top: auto;
    }
    .ad > div{
        display: block;
        position: static;
        height: 100px;
    }
    .ad > div > span:nth-child(2){
        background-color: transparent;
    }
    .ads-view .btns span > span{
        display: none;
    }
    .account .main .header .left .naver{
        display: block;
    }
    .account .main .content .nav.opened{
        left: 0;
    }
    .account .main .content .nav{
        position: absolute;
        width: 240px;
        bottom: 0;
        top: 50px;
        left: -240px;
        transition: 0.2s;
        background-color: #CFD8DC;
        z-index: 1;
    }
    .ads-view .main .head > div{
        width: 110px;
        flex-basis: 110px;
        height: 110px;
    }
    .create-ad .wrapper{
        margin: 10px;
    }
    .create-ad .wrapper .album div{
        width: 100px;
        height: 100px;
    }
    .create-ad .pics > div{
        width: 58px;
        height: 58px;
    }
    .ads-view > div:nth-child(2){
        flex-basis: 400px;
    }
    .ads-view .pics > div{
        height: 58px;
        width: 58px;
    }
    .ads-view > div{
        margin: 0;
    }
    .search{
        position: absolute;
        bottom: 0;
        top: 50px;
        width: 100%;
    }
    .search .cat{
        position: absolute;
        height: 50%;
        padding: 0;
        display: block;
        width: 100%;
    }
    .search .cat:nth-child(2){
        top: 50%;
    }
    .search .cat .elem{
        height: 50%;
        border-radius: 0;
        margin: 0;
        width: 100%;
        position: relative;
    }
    .search .cat .elem:hover{
        box-shadow: none;
    }
    .search .cat .elem img{
        display: inline-block;
        position: absolute;
        height: 100px;
        width: 100%;
        padding: 30px;
        object-fit: contain
    }
    .search .cat .elem span{
        opacity: 0.2;
        transition: none;
    }
    .account .content .ad-prev{
        margin: 50px 10px;
    }
    .dialog{
        top: 12px;
        left: 12px;
        right: 12px;
        transform: none;
        max-width: none;
        width: auto;
    }
}
