<div header></div>
<div class="messenger">
    <div class="list" ng-class="{open: list}">
        <div class="item" ng-repeat="x in inbox track by $index" ng-click="open(x.id, x.tid)">
            <span>{{x.name}}</span>
            <span>{{x.thread[x.thread.length - 1].body}}</span>
        </div>
    </div>
    <div class="thread" ng-switch="list">
        <div class="body" ng-switch-default>
            <h1>Hello</h1>
        </div>
        <div class="body" ng-switch-when="false">
            <div class="bar">
                <p>To: {{to.name}}  - Ad <span class="color-accent-inv" ng-click="viewAd()">&#35;{{to.ad}}</span></p>
                <div class="menu" ng-click="menu = !menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-items" ng-class="{open: menu}" ng-click="menu = !menu">
                    <span>All conversations</span>
                </div>
            </div>
            <div class="msgs">
                <div class="msg" ng-repeat="x in thread track by $index" ng-class="{sent: x.sent}">
                    <p>{{x.body}}</p>
                    <span>{{x.date}}</span>
                </div>
            </div>
        </div>
        <div class="reply">
            <textarea placeholder="Your message..." ng-model="body"></textarea>
            <div class="btn color-accent" ng-click="send()">
                <img src="img/speech-bubble.png"/>
                <span>SEND</span>
            </div>
        </div>
    </div>
</div>