<div header></div>
<div class="messenger" ng-show="setup">
    <div class="list" ng-class="{open: list}">
        <div class="item" ng-repeat="x in inbox" ng-click="open(x.id)">
            <span>{{x.name}}</span>
            <span>{{x.thread[x.thread.length - 1].body}}</span>
        </div>
    </div>
    <div class="thread">
        <div class="body">
            <div class="bar">
                <p>To: {{to.name}}  - Ad <span class="color-accent-inv" ng-click="viewAd()">&#35;{{to.ad}}</span></p>
                <div ng-hide="visitor" class="menu" ng-click="menu = !menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-items" ng-class="{open: menu}" ng-click="menu = !menu">
                    <spanng-click="delThread()">Delete conversation</span>
                    <span>Block email</span>
                    <span>View blocked list</span>
                </div>
            </div>
            <div class="msgs">
                <div class="msg" ng-repeat="x in thread" ng-class="{sent: x.sent}">
                    <p>{{x.body}}</p>
                    <span>{{x.status}}</span>
                </div>
            </div>
        </div>
        <div class="reply">
            <textarea placeholder="Your message..." ng-model="body"></textarea>
            <div class="btn color-accent" ng-click="send()">
                <img src="img/speech-bubble.png"/>
                <span>SEND</span>
            </div>
        </div>
    </div>
</div>
<div class="messenger-dialog" ng-hide="setup">
    <p>For {{to.name}} to be able to reply to your messages, please provide your details</p>
    <span>Name (optional)</span>
    <input type="text" ng-model="param.fname"/>
    <span>Email</span>
    <input type="text" ng-model="param.from"/>
    <div class="btns">
        <span class="color-accent-inv" ng-click="setEmail()">DONE</span>
    </div>
</div>